@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #24DDE0;
    --cor2: #2466E0;
    --cor3: #24A0E0;
    --cor4: #1EE3A4;
    --cor5: #242BE0;
    --cor6: #6FBBE0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}

section {
    padding: 7px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--cor2);
    border-bottom: 2px solid rgb(138, 138, 138);
}

.header section {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header section h1 {
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
}

.header section .navegacao a {
    color: #e9e9e9;
    margin: 10px;
    font-weight: 400;
}

.header section .navegacao a:hover {
    color: var(--cor6);
    text-decoration: underline;
}