/* IMPORTAR FONTE: Roboto */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* VARIÁVEIS */
:root {
    --cor1: #24DDE0;
    --cor2: #2466E0;
    --cor3: #24A0E0;
    --cor4: #1EE3A4;
    --cor5: #242BE0;
    --cor6: #6FBBE0;
}


/* DEFINIÇÕES GLOBAIS */
body {
    background-image:
        linear-gradient(rgba(233, 233, 233, 0.6),
            rgba(233, 233, 233, 0.6)),
        url("img/Fundo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.secao {
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: 0.2s;
}

section {
    padding: 7px;
    margin: 0 auto;
}

.destaque {
    color: var(--cor5);
}

.botao {
    background-color: var(--cor2);
    color: white;
    font-weight: 400;
    text-decoration: underline;
    padding: 10px 15px;
    border-bottom: 3px solid #174292;
    display: inline-block;
    box-shadow: 0 0 4px 3px #0000003f;
}

/* TOPO DA PÁGINA */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--cor3);
    border-bottom: 2px solid rgb(138, 138, 138);
}

.header section {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header section h1 {
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
}

.header section img {
    max-width: 100px;
}

.header section .navegacao a {
    color: white;
    margin: 10px;
    font-weight: 400;
}

.header section .navegacao a:hover {
    color: var(--cor6);
    text-decoration: underline;
}


/* SOBRE MIM DA PÁGINA*/
.secao .sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 270px);
    padding-bottom: 0;
}  

.sobre-mim img {
    width: 250px;
}

.sobre-mim .apres {
    margin-left: 20px;
}

.sobre-mim .apres .ant-h1 {
    margin-bottom: 5px;
    font-weight: 500;
}

.sobre-mim .apres h1 {
    color: var(--cor2);
    text-shadow: 0px 2px 3px #00000088;
    margin-bottom: 25px;
    border-bottom: 3px solid #e9e9e9;
    max-width: 470px;
}

.sobre-mim .apres .sobre {
    text-align: justify;
    max-width: 600px;
    line-height: 22px;
}

.sobre-mim .apres .botao {
    margin-top: 15px;
    margin-right: 15px;
}


/* ADAPTAÇÃO PARA DISPOSITIVOS MOVÉIS - CELULARES*/
@media (max-width: 767px) {

    .secao .sobre-mim {
        flex-direction: column;
        min-height: calc(100svh - 110px);
        justify-content: flex-start;
        padding-top: 30px;
    }

    .sobre-mim img {
        margin-top: 110px;
        display: block;
        max-width: 100%;
        height: auto;
    }

    .sobre-mim .apres {
        margin-left: 0;
        text-align: center;
    }

    .sobre-mim .apres h1 {
        margin-left: auto;
        margin-right: auto;
    }

    .sobre-mim .apres .sobre {
        max-width: 100%;
        padding: 0 10px;
        text-align: justify;
    }
}


/* ADAPTAÇÃO PARA TABLETS*/
@media (min-width: 768px) and (max-width: 1024px) {

    .secao .sobre-mim {
        flex-direction: column;
        padding-top: 120px;
        min-height: auto;
    }

    .sobre-mim img {
        width: 220px;
        margin-bottom: 25px;
    }

    .sobre-mim .apres {
        margin-left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobre-mim .apres h1 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .sobre-mim .apres .sobre {
        max-width: 720px;
        padding: 0 20px;
    }

    .sobre-mim .apres .botao {
        display: inline;
    }
}