/* IMPORTAR FONTE: Roboto */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIÁVEIS */
:root {
    --cor1: #24DDE0;
    --cor2: #2466E0;
    --cor3: #24A0E0;
    --cor4: #1EE3A4;
    --cor5: #242BE0;
    --cor6: #6FBBE0;
}

/* DEFINIÇÕES GLOBAIS */
body {
    background-image:
        linear-gradient(rgba(233, 233, 233, 0.6),
            rgba(233, 233, 233, 0.6)),
        url("img/Fundo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.secao {
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: 0.2s;
}

section {
    padding: 7px;
    margin: 0 auto;
}

.destaque {
    color: var(--cor5);
}

/* TOPO DA PÁGINA */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--cor3);
    border-bottom: 2px solid rgb(138, 138, 138);
}

.header section {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header section h1 {
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
}

.header section img {
    max-width: 100px;
}

.header section .navegacao a {
    color: white;
    margin: 10px;
    font-weight: 400;
}

.header section .navegacao a:hover {
    color: var(--cor6);
    text-decoration: underline;
}